@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fafb; /* Couleur de fond par défaut */
}

/* Exemple : Effet hover personnalisé pour les liens */
a:hover {
    text-decoration: underline;
    color: #1d4ed8; /* Couleur bleue */
}
